/* Add pixelated font */
h1, h2, h3, h4, h5, h6, form { font-family: 'Silkscreen', cursive; }

/* Background color */
#background { background-color: burlywood; }

/* Align center (vertically */
.center-vertically 
{ 
    top: 50%;
    transform: translate(0, -50%);
}

/* Prevent color from fading when the input is disabled */
input[disabled], select[disabled], textarea[disabled] {   color: black; }

/* Bookshelf interior */
#shelf
{
    /* Set max heigh and width of bookshelf interior (shelf parts) */
    top: -600px;
    width: 480px;
    height: 565px;

    /* border: 1px solid #4CAF50; */
}

/* Books on the shelf */
.book { width:20px; /* Make book size a bit smaller */ }

/* Title on closed book */
#bookTitle
{
    word-wrap:break-word;
    top:-450px; 
    left: 55px;
    width: 300px; 
    height: 250px;
}

/* Author on closed book */
#bookAuthor
{
    word-wrap:break-word;
    top:-200px; 
    left: 55px;
    width: 300px; 
    height: 150px;
}

/* Textblock in the notes section of the book */
#openBook-notesInput
{
    width: 280px;
    height:400px;
    border: none; 
    background:transparent;
    resize:none;
    outline:none;   /* No outline when clicking on the notes input */
}

/* Set size of bookmark area */
.bookmarkSize
{
    height: 38px;
    top: -36px;
}

/* Postit title */
.postit-title
{
    top:-315px; 
    left:25px;
}

/* Post it close button */
.postit-close
{
    right: 20px; 
    top:-315px;
}

/* Post it size */
.postit-size { width:320px; }

/* Post it */
.postit
{
    visibility:hidden;
    z-index: 1;
}

/* Star position */
.star-pos { top: 75px; }

/* Star size */
.star-size { width:40px; }

/* Left side of open book positioning for text */
.openBook-leftPage-pos { left: 65px; }

/* Postition of bookmarks on opened book */
.bookmark-pos { left: 732px; }

/* Postition of bookmark headings on opened book */
.bookmark-heading-pos { top:-28px; }
